
</div>
<div class="fixed-bottom position-sticky">
  <div class="footer-padding"></div>
    <div class="footer">
      <p>Made with ❤️ by JBC Skills Training 2023</p>
    </div>
  </div>
</div>
</body>
</html>
